@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;700&display=swap');

:root {
  --dark: #222222;
  --red: #f10203;
  --green: #4db22e;
  --yellow: #ffd301;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Lato', sans-serif;
}

.container {
  margin: 0 1.6rem;
  max-width: 128rem;
}

/* ----- Navbar ----- */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: navbar 1s ease;
}
@keyframes navbar {
  from {
    transform: translateY(-200%);
  }
  to {
    transform: translateY(0);
  }
}

.navbar img {
  width: 5.4rem;
  padding: 1.6rem 0;
}

.navbar ul {
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  background-color: white;
  gap: 1.6rem;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.navbar ul.show {
  visibility: visible;
  z-index: 10;
  opacity: 1;
}

.navbar ul a {
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: normal;
  color: var(--red);
  font-weight: 600;
}

.navbar .navbar_close {
  padding: 0.6rem 1.2rem;
  display: inline-block;
  border: 0.1rem solid var(--red);
  border-radius: 0.8rem;
}

.navbar .navbar_btn {
  display: flex;
  align-items: center;
  height: auto;
  padding: 0.8rem;
  background-color: transparent;
  border: none;
}

.navbar_btn .icon-menu {
  color: var(--red);
  cursor: pointer;
}

/* ----- Main Img ----- */
.main-img {
  position: relative;
  text-align: center;
  margin: 1.6rem 0 3.2rem;

  animation: -0.5s main-img 1.5s ease;
}

@keyframes main-img {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}

.main-img::before {
  content: '';
  display: block;
  position: absolute;
  left: -1.6rem;
  z-index: -1;
  top: 50%;
  width: calc(100% + 3.2rem);
  height: 10rem;
  background-color: var(--green);
  transform: translateY(-50%);
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);

  animation: 0.5s mask 1.5s ease forwards;
}

.main-img img {
  width: 20rem;
}

/* ----- Main Content ----- */
.main-content h1 {
  font-size: 3rem;
  margin-bottom: 2.4rem;
  clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);

  animation: mask 1.5s ease forwards;
  animation-delay: 0.2s;
}

.main-content p:first-child {
  font-size: 1.8rem;
  clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);

  animation: mask 1.5s ease forwards;
}

.main-content p {
  font-size: 1.6rem;
  clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);

  animation: mask 1.5s ease forwards;
  animation-delay: 0.4s;
}
@keyframes mask {
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

/* ----- Characters ----- */
.characters {
  display: flex;
  flex-wrap: wrap;
  gap: 4.8rem 0.8rem;
  justify-content: space-evenly;
  margin: 6.4rem 0;
}

.character {
  width: calc(50% - (0.8rem / 2));
  cursor: pointer;
  max-width: 20rem;
  opacity: 0;
  transform: translateY(100%);

  animation: character 0.7s ease-in-out forwards;
}

.character:nth-child(2) {
  animation-delay: 0.2s;
}

.character:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes character {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.character_img {
  position: relative;
}

.character span {
  display: block;
  width: 100%;
  aspect-ratio: 3/2;
  border-radius: 1.6rem;
}

.character.mario span {
  background-color: var(--red);
}

.character.peach span {
  background-color: var(--green);
}

.character.luigi span {
  background-color: var(--yellow);
}

.character img {
  object-fit: cover;
  object-position: top;
  aspect-ratio: 3/2.5;
  padding: 0 2.4rem;
  width: 100%;
  height: auto;
  vertical-align: top;
  position: absolute;
  bottom: 0;
  transition: aspect-ratio 0.3s ease;
}

.character:hover img {
  aspect-ratio: 3/3;
}

.character p {
  margin-top: 0.8rem;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

/* ----- Tablet 778px ----- */

@media screen and (min-width: 778px) {
  .container {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 60% 40%;
    grid-template-rows: min-content 1fr min-content;
    grid-template-areas:
      'nav main-img'
      'main-content main-img'
      'characters main-img';
    padding: 3.2rem 0 6.4rem;
  }

  /* ----- Navbar ----- */

  .navbar ul {
    position: static;
    height: auto;
    flex-direction: row;
    justify-content: flex-start;
    visibility: visible;
    background-color: transparent;
    margin-left: 3.2rem;
    opacity: 1;
  }
  .navbar .navbar_close {
    display: none;
  }

  .navbar .navbar_btn {
    display: none;
  }

  /* ----- Main Content ----- */
  .main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .main-content h1 {
    font-size: 4.4rem;
    margin-bottom: 2.4rem;
  }

  .main-content p:first-child {
    font-size: 3rem;
  }

  .main-content p {
    font-size: 1.8rem;
  }

  /* ----- Main Img ----- */
  .main-img {
    grid-area: main-img;
    display: grid;
    place-items: center;
    margin: 0;
  }

  .main-img img {
    width: auto;
  }

  .main-img::before {
    position: fixed;
    top: 0;
    right: 0;
    left: auto;
    height: 100vh;
    width: 21%;
    transform: none;
  }

  /* ----- Characters ----- */
  .characters {
    margin: 0;
  }

  .character {
    width: calc((100% / 3) - (0.8rem));
    cursor: pointer;
    max-width: 20rem;
  }
}

@media screen and (min-width: 1312px) {
  .container {
    margin: 0 auto;
  }

  /* ----- Main Content ----- */
  .main-content {
    max-width: 60rem;
  }

  /* ----- Main Img ----- */

  .main-img::before {
    width: calc(50% - 38.4rem);
  }

  /* ----- Characters ----- */
  .characters {
    justify-content: flex-start;
    gap: 0 3.2rem;
  }
}
.modal {
  position: fixed;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
}
.modal.show {
  visibility: visible;
  opacity: 1;
}
.modal-content {
  background-color: white;
  width: 100%;
  max-width: 60rem;
  margin: 6.4rem auto 0;
  position: relative;
  border-radius: 1.6rem;
  padding: 1.6rem;
}
.modal-title {
  font-size: 2.8rem;
  text-align: center;
  margin-bottom: 1.6rem;
}
.modal-content input {
  display: none;
}
.modal-close {
  display: flex;
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
  background-color: transparent;
  border: 1px solid black;
  padding: 0.8rem;
  border-radius: 0.4rem;
  cursor: pointer;
}
.cards {
  position: relative;
  margin: 0 auto;
  z-index: 50;
  width: 100%;
  aspect-ratio: 2/1;
  display: grid;
  place-items: center;
}
.card {
  width: 50%;
  position: absolute;
  z-index: 0;
  transition: all 0.5s ease;
  cursor: pointer;
  border: 1px solid #bbb;
  padding: 1.6rem;
  background-color: white;
  border-radius: 0.8rem;
}
.card img {
  width: 100%;
  vertical-align: top;
}
#mario-1:checked ~ .cards .card:nth-child(1),
#mario-2:checked ~ .cards .card:nth-child(2),
#mario-3:checked ~ .cards .card:nth-child(3) {
  transform: translateX(0);
  z-index: 1;
}

#mario-1:checked ~ .cards .card:nth-child(2),
#mario-2:checked ~ .cards .card:nth-child(3),
#mario-3:checked ~ .cards .card:nth-child(1) {
  transform: translateX(50%) scale(0.8);
  opacity: 0.5;
}
#mario-1:checked ~ .cards .card:nth-child(3),
#mario-2:checked ~ .cards .card:nth-child(1),
#mario-3:checked ~ .cards .card:nth-child(2) {
  transform: translateX(-50%) scale(0.8);
  opacity: 0.5;
}
